<%- include('partials/header') -%>
<section>
  <div
    class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-10"
  >
    <div class="md:flex">
      <div class="p-8">
        <div
          class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          <%= product.name %>
        </div>
        <h2 class="block mt-1 text-lg leading-tight font-medium text-black">
          Awesome Product
        </h2>
        <p class="mt-2 text-gray-500">$<%= product.price %></p>

        <div class="mt-4">
          <h4 class="block text-gray-700 text-sm font-bold mb-2">
            Quantity : <%= product.quantity %>
          </h4>
        </div>

        <div class="mt-4 flex items-center">
          <a href="/products/<%= product.id %>/like">
            💗<span class="ml-2 text-gray-600"><%= product.likes %></span>
          </a>
        </div>

        <div class="mt-4 flex space-x-3">
          <a href="/products/<%= product.id %>/edit">
            <button
              class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
              Edit
            </button>
          </a>
          <a href="/products/<%= product.id %>/delete">
            <button
              class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
            >
              Delete
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
