<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <h3><%= product.price %></h3>
    <span><%= product.quantity %></span>
    <span>Likes : <%= product.likes %></span>
    <div>
      <a href="/products/like"><button>Like</button></a>
    </div>
    <div>
      <a href="/products/<%= product.id %>/cart"
        ><button>Add to cart</button></a
      >
    </div>
    <%= if(user.isAdmin){ %>
    <div class="flex">
      <div>
        <a href="/products/<%= product.id %>/edit"><button>Edit</button></a>
      </div>
      <div>
        <a href="/products/<%= product.id %>/delete"><button>Delete</button></a>
      </div>
    </div>
    <% } %>
  </body>
</html>
